

.jaro-title {
  font-family: "Jaro", sans-serif;

}
.items{
  color: white;
  position:relative;
  width: fit-content;
  font-weight: 500;
}
.items:after {
  display:block;
  content: '';
  border-bottom: solid 3px #019fb6;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.items:hover{
  
  color:rgb(221, 198, 66) ;
}

  
.items:hover:after { transform: scaleX(1); }


.hello{
  color: rgb(223, 195, 38);
}

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;

}
.reg{
  font-size: 70px;
}
.roboto-slab-rag {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
 
}
.myy{
 
  color: white;
 
  content: '';
  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.myy:hover{
  background-color: #019fb6;
  transform: scaleX(1);
}

.hover-1 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  background-color:rgb(223, 195, 38);
  color: white;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(rgb(223, 195, 38) 0 0) var(--p, 0) / var(--p, 0) no-repeat;
  transition: 0.4s, background-position 0s;
}
.hover-1:hover {
  --p: 100%;
  color: #fff;
}
.img{
 border-bottom-left-radius: 450px;
 border-bottom-right-radius: 150px;
 border-end-end-radius: 500px;
}
.img2{
  background-color: rgb(98, 103, 107);
  border-radius: 500px;
}
.bio{
  color: rgb(177, 191, 202);
}
.s{
  color: rgb(225, 234, 242);
}
.cont{
  text-align: center;
}
.jersey-20-regular {
  font-family: "Jersey 20", sans-serif;
  font-weight: 300;
  font-style: normal;

}
